body{
    direction: rtl;
    font-family: Arial;
    margin: 0px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 13px;
}

header {
    background: #949381;


}
.top_header_wrap {
    background: #2e2e2e;
    position: relative;
}
.top_header_cont{
    max-width: 1024px;
    margin: 0 auto;
}

.top_header_cont h2 {
    color: white;
    display: inline-block;
    margin: 10px 20px 0 5px;
}

.top_header_cont h3 {
    color: #868686;
    display: inline-block;
}
.top_header_cont img{
    position: absolute;
    top: 10px;
    left: 300px;
}

nav{
    position: absolute;
    top: 75px;
    left: 100px;

}
nav ul {
    list-style: none;

}
nav li:first-of-type {
    color: white;
    background: black;
    font-weight: 600;
}
nav ul li {
    border: 1px solid black;
    background: white;
    color: black;
    padding: 5px 10px;
}

nav ul li:hover {
    background: yellow;
}

.main_header {
    max-width: 1024px;
    margin:0 auto;
    position: relative;
}
.main_header img {
    position: absolute;
    top: -70px;
    left: -130px;
    z-index: 1;

}

.main_header img:nth-of-type(2) {
    position: absolute;
    top: -81px;
    left: -237px;
}

.main_header h1 {
    color: white;
    font-size: 60px;
    width: 300px;
    text-shadow: #000 1px 1px 0px;
    margin-bottom: 25px;
}
.main_header h2{
    text-shadow: #7d7c72 1px 1px 0px;
    width: 300px;
    margin-bottom: 80px;
}

.tilt {
    height: 20px;
    background: #605f52;
    transform: skewy(1deg);
    -webkit-box-shadow: -2px 10px 19px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: -2px 10px 19px -5px rgba(0,0,0,0.61);
    box-shadow: -2px 10px 19px -5px rgba(0,0,0,0.61);

}
.lecture{
    background: #ececec;
}
.where_is {
    background-color:#dcdcdc;
    position: relative;
}
.directions{
    width: 1024px;
    margin: 0 auto;
    padding: 30px 0;
}
.directions h3, .small_h {
    display: inline;
}
.directions h4, .directions p {
    margin: 5px 0;
}
.times {
    max-width: 445px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.times p {
    display: inline-block;
    font-weight: 600;
    width: 65px;
}
.where_is figure {
    position: absolute;
    top:30px;
    left: 350px;

}
.where_is img {
    display: block;
}

.where_is figcaption{
    margin-right: 135px;
    font-size: 13px;
}

.hours {
    font-weight: 600;
    color: #949485;
    font-size: 35px;
    padding-left: 80px;
}
.park {
    display: inline-block;
    padding: 10px 0 0 5px;
    width: 220px;
    margin-left: 5px;
}
.park  ol{
  font-size: 13px;
}

.park p {
    border-bottom: 1px solid black;
    font-size: 16px;
    padding-bottom: 10px;




}
.listing_wrapper {
    background-color: #949485;
    max-width: 1980px ;
    color:white;
    padding: 30px 0;
    position: relative;
}
.wrapper {
    max-width:1024px;
    margin: 0 auto;


}
.wrapper div {
    width:365px;
}
.listing_wrapper h3 {
    color: yellow;


}
.wrapper div p:first-of-type {
    font-size: 20px;
    margin-bottom: -13px;
}
.par {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 15px 0;
}

label {
    width: 130px;
    display: inline-block;

}
input{
    width:225px;
    height: 25px;
}

.listing_wrapper article {
    display: inline-block;
}

input[type="submit"] {
    margin: 0 136px 0 0;
    width: 225px;
}
input[type="submit"] {
    background: black;
    border: none;
    color: white;
    font-size: 16px;
}
.listing_wrapper img {
    height: 538px;
    position: absolute;
    top: 0px;
    left: 200px;
}

